<header class="header d-flex align-items-center text-center">
  <div class="container">
    <div class="row align-items-center justify-content-center header-intro">
      <div class="col-xl-9 col-md-9 col-md-12">
        <div class="header-main-text text-center">
          <div class="header-intro-text">
            <span>Bem Vindo a</span>
          </div>
          <h3 class='header-branding'>StarCar</h3>
          <h4 class='header-sub-branding'>Renvendas</h4>
          <a href="#carListing" class="btn btn-light btn-animated btn-see-car">Faça seu cadastro <i class="fas fa-car"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>