<section class="carListing  mt-5" id="carListing">
  <div class="container">
    <div class="client-form">
      <h2 class="client-form-title">Formulário de Cadastro <i class="fas fa-car-side"></i></h2>
      <div class="client-form-info mt-5">
        <form name="clientForm" [formGroup]='clientsForm' (ngSubmit)='onSubmit(clientsForm)'>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label-name" for="name">Nome</label>
                <input type="text" name="name" class="form-control form-control-lg" formControlName='name'
                  [textMask]="{mask: validation.text.pattern, guide:false}" />
              </div>
              <div class="form-group">
                <label class="form-label-name" for="cpf">CPF</label>
                <input type="text" name="cpf" class="form-control form-control-lg" formControlName='cpf'
                  [textMask]="{mask: validation.cpf.pattern}" />
              </div>
              <div class="form-group">
                <label class="form-label-name" for="cellphone">Telefone</label>
                <input type="text" name="cellphone" class="form-control form-control-lg" formControlName='cellphone'
                  [textMask]="{mask: validation.cellphone.pattern}" />
              </div>
              <div class="form-group">
                <label class="form-label-name" for="birthdate">Data de Nascimento</label>
                <input type="text" name="birthdate" class="form-control form-control-lg" formControlName='birthday'
                  [textMask]="{mask: validation.date.pattern}" />
              </div>
              <div class="form-group">
                <label class="form-label-name" for="address">Endereço</label>
                <input type="text" name="address" class="form-control form-control-lg" formControlName='address'
                  [textMask]="{mask: validation.text.pattern, guide:false}" />
              </div>
              <div class="form-group">
                <label class="form-label-name" for="car">Carro</label>
                <input type="text" name="car" class="form-control form-control-lg" formControlName='car' />
              </div>
              <div class="form-group float-right" >
                <button type="submit" class="btn btn-client-form" value="Submit" [disabled]="!clientsForm.valid" >Salvar <i class="fas fa-car"></i>
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <img src="../../../../assets/imgs/undraw_by_my_car_ttge.svg" width="480px" alt="imagem de carro">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>